@font-face {
  font-family: 'Rubik-Regular';
  src: url("../fonts/subset-Rubik-Regular.woff2") format("woff2"), url("../fonts/subset-Rubik-Regular.woff") format("woff"), url("../fonts/subset-Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rubik-Medium';
  src: url("../fonts/subset-Rubik-Medium.woff2") format("woff2"), url("../fonts/subset-Rubik-Medium.woff") format("woff"), url("../fonts/subset-Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Rubik-Black';
  src: url("../fonts/subset-Rubik-Black.woff2") format("woff2"), url("../fonts/subset-Rubik-Black.woff") format("woff"), url("../fonts/subset-Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Rubik-Bold';
  src: url("../fonts/subset-Rubik-Bold.woff2") format("woff2"), url("../fonts/subset-Rubik-Bold.woff") format("woff"), url("../fonts/subset-Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Rubik-Light';
  src: url("../fonts/subset-Rubik-Light.woff2") format("woff2"), url("../fonts/subset-Rubik-Light.woff") format("woff"), url("../fonts/subset-Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../fonts/subset-Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/subset-Montserrat-ExtraLight.woff") format("woff"), url("../fonts/subset-Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/subset-Montserrat-Medium.woff2") format("woff2"), url("../fonts/subset-Montserrat-Medium.woff") format("woff"), url("../fonts/subset-Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Thin';
  src: url("../fonts/subset-Montserrat-Thin.woff2") format("woff2"), url("../fonts/subset-Montserrat-Thin.woff") format("woff"), url("../fonts/subset-Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/subset-Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/subset-Montserrat-SemiBold.woff") format("woff"), url("../fonts/subset-Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/subset-Montserrat-Light.woff2") format("woff2"), url("../fonts/subset-Montserrat-Light.woff") format("woff"), url("../fonts/subset-Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/subset-Montserrat-Black.woff2") format("woff2"), url("../fonts/subset-Montserrat-Black.woff") format("woff"), url("../fonts/subset-Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/subset-Montserrat-Bold.woff2") format("woff2"), url("../fonts/subset-Montserrat-Bold.woff") format("woff"), url("../fonts/subset-Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/subset-Montserrat-Regular.woff") format("woff"), url("../fonts/subset-Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/subset-Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/subset-Montserrat-ExtraBold.woff") format("woff"), url("../fonts/subset-Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

.page {
  font-family: "Montserrat-Regular", serif; }

main {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5; }

ul {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

[class*='__container'] {
  max-width: 288px;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    [class*='__container'] {
      max-width: 608px; } }
  @media (min-width: 1360px) {
    [class*='__container'] {
      max-width: 1360px; } }

.hide-mobile {
  display: none; }
  @media (min-width: 768px) {
    .hide-mobile {
      display: block; } }

.kid-info__title {
  color: #ff5c39;
  font-size: 28px; }

.kid-info__city {
  font-family: 'Rubik-Light', serif;
  font-size: 16px; }

.kid-info__diagnosis {
  font-family: 'Rubik-Light', serif;
  font-size: 16px; }

.kid-info__remark {
  display: none; }

.kid-story__title {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 24px;
  color: #17183b;
  line-height: 28px; }
  @media (min-width: 768px) {
    .kid-story__title {
      font-size: 40px;
      letter-spacing: 0.5px;
      line-height: 44px; } }

.kid-story__text {
  font-family: Helvetica;
  font-size: 16px;
  color: #17183b;
  line-height: 24px;
  margin: 24px 0; }
  @media (min-width: 768px) {
    .kid-story__text {
      font-size: 20px;
      line-height: 28px; } }

.kid-story__figure {
  width: 100%; }
  .kid-story__figure img {
    width: 100%;
    height: auto; }
  .kid-story__figure figcaption {
    font-family: Helvetica;
    font-size: 12px;
    color: #727272;
    line-height: 20px; }

.kid-story__quote {
  font-family: Helvetica;
  font-size: 16px;
  color: #727272;
  line-height: 24px;
  margin: 24px 16px;
  padding-left: 8px;
  border-left: 4px solid #ff5c39; }
  @media (min-width: 768px) {
    .kid-story__quote {
      font-size: 20px;
      line-height: 28px;
      margin: 32px 68px;
      padding-left: 20px; } }
  @media (min-width: 1360px) {
    .kid-story__quote {
      margin: 32px 128px 32px 108px; } }

.kid-payment {
  background-color: #ff5c39;
  padding: 16px 0; }
  .kid-payment__container {
    background-color: #fff;
    border-radius: 8px; }
  .kid-payment__first {
    height: 192px;
    width: 100%;
    background-image: url("../../img/img1-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .kid-payment__last {
    padding: 10px 16px 24px; }
  .kid-payment__title {
    color: #ff5c39;
    font-family: 'Rubik-Regular', serif; }
  .kid-payment__subtitle {
    font-family: 'Montserrat-Regular', serif;
    font-size: 12px; }

.kid-news__title {
  font-family: 'Rubik-Regular', serif;
  font-size: 24px; }

.kid-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.kid-news__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
  max-width: 140px;
  border: 1px solid #ccefff;
  padding: 5px 12px;
  border-radius: 6px;
  margin-bottom: 8px; }

.kid-news__item-title {
  font-family: 'Rubik-Light', serif;
  font-size: 16px; }

.kid-news__item-date {
  font-family: 'Montserrat-Light', serif;
  font-size: 12px; }

.other-kids__title {
  font-family: 'Rubik-regular', serif;
  font-size: 24px; }

.header {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .header__container {
    padding: 12px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 768px) {
      .header__container {
        max-width: 688px;
        padding: 16px 0; } }
    @media (min-width: 1360px) {
      .header__container {
        max-width: 1360px; } }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    @media (min-width: 768px) {
      .header__left {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        max-width: 168px; } }
    @media (min-width: 1360px) {
      .header__left {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 208px; } }
  .header__burger {
    position: absolute;
    left: 0; }
    .header__burger--mobile {
      top: 0;
      bottom: 0; }
      @media (min-width: 768px) {
        .header__burger--mobile {
          display: none; } }
    .header__burger--tablet {
      display: none;
      padding-top: 7px; }
      @media (min-width: 768px) {
        .header__burger--tablet {
          display: block; } }
      @media (min-width: 1360px) {
        .header__burger--tablet {
          display: none; } }
  .header__about {
    display: none;
    font-family: Helvetica, serif;
    font-size: 14px;
    color: #17183b;
    letter-spacing: 0.25px;
    line-height: 24px; }
    .header__about:after {
      content: '';
      background: url("../../img/open.png") no-repeat center;
      margin-left: 8px;
      margin-bottom: 2px;
      display: inline-block;
      width: 8px;
      height: 4px; }
    @media (min-width: 1360px) {
      .header__about {
        display: block; } }
  .header__nav {
    font-family: "Montserrat-Regular", serif;
    display: none; }
    @media (min-width: 768px) {
      .header__nav {
        display: block; } }
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Helvetica, serif;
    font-size: 14px;
    color: #17183b;
    letter-spacing: 0.25px;
    line-height: 24px; }
  .header__nav-item:nth-child(3), .header__nav-item:nth-child(4) {
    display: none; }
    @media (min-width: 1360px) {
      .header__nav-item:nth-child(3), .header__nav-item:nth-child(4) {
        display: block; } }
  .header__nav-link {
    padding: 5px 16px; }
    .header__nav-link:hover {
      border: #ff5c39 1px solid;
      border-radius: 8px; }
  @media (min-width: 768px) {
    .header__logo--mobile {
      display: none; } }
  .header__contacts {
    display: none;
    font-family: Helvetica, serif;
    font-size: 14px;
    color: #17183b;
    letter-spacing: 0.25px;
    line-height: 24px; }
    @media (min-width: 1360px) {
      .header__contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; } }

/*# sourceMappingURL=style.css.map */
