@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/subset-Rubik-Regular.woff2') format('woff2'),
    url('../fonts/subset-Rubik-Regular.woff') format('woff'),
    url('../fonts/subset-Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/subset-Rubik-Medium.woff2') format('woff2'),
    url('../fonts/subset-Rubik-Medium.woff') format('woff'),
    url('../fonts/subset-Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Black';
  src: url('../fonts/subset-Rubik-Black.woff2') format('woff2'),
    url('../fonts/subset-Rubik-Black.woff') format('woff'),
    url('../fonts/subset-Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/subset-Rubik-Bold.woff2') format('woff2'),
    url('../fonts/subset-Rubik-Bold.woff') format('woff'),
    url('../fonts/subset-Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/subset-Rubik-Light.woff2') format('woff2'),
    url('../fonts/subset-Rubik-Light.woff') format('woff'),
    url('../fonts/subset-Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../fonts/subset-Montserrat-ExtraLight.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-ExtraLight.woff') format('woff'),
    url('../fonts/subset-Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/subset-Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Medium.woff') format('woff'),
    url('../fonts/subset-Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../fonts/subset-Montserrat-Thin.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Thin.woff') format('woff'),
    url('../fonts/subset-Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/subset-Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/subset-Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/subset-Montserrat-Light.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Light.woff') format('woff'),
    url('../fonts/subset-Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/subset-Montserrat-Black.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Black.woff') format('woff'),
    url('../fonts/subset-Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/subset-Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Bold.woff') format('woff'),
    url('../fonts/subset-Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Regular.woff') format('woff'),
    url('../fonts/subset-Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/subset-Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/subset-Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
