// COLORS

$main-color: #ff5c39;
$main-color-dark: #4aa2a5;
$second-color: #05affa;
$second-color-light: #ccefff;
$second-text-color: #979797;

$gray: #727272;
$gray-dark: #231f20;

$text-color: $gray-dark;

$font-family: 'Montserrat-Regular', serif;
$font-size: 16px;
$line-height: 1.4;

$main-font: '';

// SCREENS

$tablet: 768px;
$desktop: 1360px;
