.btn {
  background-color: $main-color;
  font-family: 'Montserrat-Regular', serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #faffff;
  border-radius: 8px;
  padding: 10px 0;
  display: block;
  text-align: center;
}
