.page {
  font-family: $font-family;
}

main {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

[class*='__container'] {
  max-width: 288px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 608px;
  }

  @media (min-width: $desktop) {
    max-width: 1360px;
  }
}

.hide-mobile {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
